
$font-weight-normal:500;
$headings-font-weight: 700;
$primary:#091019;
$success:#f2d644;
$secondary:#FDFAEF;
$warning: #ff9c00;
$info:#003957;
$danger:rgb(85, 96, 169);
$dark:#000;
$font-family-sans-serif: 'Open Sans', sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";